In [55]:
import pandas as pd
import numpy as np
import pipes_FCNN as pp_
import pickle

df_ = pd.read_csv('NewDataFrame.csv')



df_ = pp_.myPipe.transform(df_)


#X = X - X.mean()
#X = X/X.std()

In [56]:
df_.columns

Index(['Month', 'Age', 'Occupation', 'AnnualIncome', 'MonthlyInhandSalary',
       'NumBankAccounts', 'NumCreditCard', 'InterestRate', 'NumofLoan',
       'Delayfromduedate', 'NumofDelayedPayment', 'NumCreditInquiries',
       'CreditMix', 'OutstandingDebt', 'CreditUtilizationRatio',
       'PaymentofMinAmount', 'TotalEMIpermonth', 'PaymentBehaviour',
       'MonthlyBalance', 'CreditScore', 'CreditHistoryYears'],
      dtype='object')

In [57]:
df_.head()

,Month,Age,Occupation,AnnualIncome,MonthlyInhandSalary,NumBankAccounts,NumCreditCard,InterestRate,NumofLoan,Delayfromduedate,...,NumCreditInquiries,CreditMix,OutstandingDebt,CreditUtilizationRatio,PaymentofMinAmount,TotalEMIpermonth,PaymentBehaviour,MonthlyBalance,CreditScore,CreditHistoryYears
0,0.0,23.000000,Scientist,19114.12,1824.843333,3,4,3,4.0,3,...,4.0,3,809.98,26.822620,1,49.574949,HighspentSmallvaluepayments,312.494089,1,22.000000
1,1.0,23.000000,Scientist,19114.12,4194.170850,3,4,3,4.0,-1,...,4.0,1,809.98,31.944960,1,49.574949,LowspentLargevaluepayments,284.629163,1,17.966516
2,2.0,33.307829,Scientist,19114.12,4194.170850,3,4,3,4.0,3,...,4.0,1,809.98,28.609352,1,49.574949,LowspentMediumvaluepayments,331.209863,1,22.000000
3,3.0,23.000000,Scientist,19114.12,4194.170850,3,4,3,4.0,5,...,4.0,1,809.98,31.377862,1,49.574949,LowspentSmallvaluepayments,223.451310,1,22.000000
4,4.0,23.000000,Scientist,19114.12,1824.843333,3,4,3,4.0,6,...,4.0,1,809.98,24.797347,1,49.574949,HighspentMediumvaluepayments,341.489231,1,22.000000

In [58]:
Y = df_['CreditScore']

In [59]:
from sklearn.preprocessing import OneHotEncoder
oh = OneHotEncoder()
h_cat_en, h_categories = df_['Occupation'].factorize()
coded = oh.fit_transform(h_cat_en.reshape(-1,1))
proxy = pd.DataFrame(coded.toarray(), index = df_.index, columns = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14',
                                                                          '15','16'])
df_ = pd.concat([df_, proxy], axis = 1)    

h_cats1 = {}
for i in range(len(h_categories)):
    h_cats1[h_categories[i]] = i


with open('oneHotEncoder1.pkl', 'wb') as f:
    pickle.dump(oh,f)

with open('h_cats1.pkl', 'wb') as f:
    pickle.dump(h_cats1,f)


oh2 = OneHotEncoder()
h_cat_en2, h_categories2 = df_['PaymentBehaviour'].factorize()
coded2 = oh2.fit_transform(h_cat_en2.reshape(-1,1))
proxy2 = pd.DataFrame(coded2.toarray(), index = df_.index, columns = ['17','18','19','20','21','22','23'])
df_ = pd.concat([df_, proxy2], axis = 1)
df_ = df_.drop(['PaymentBehaviour','CreditScore','Occupation'], axis = 1)

h_cats2 = {}
for i in range(len(h_categories2)):
    h_cats2[h_categories2[i]] = i


with open('h_cats2.pkl', 'wb') as f:
    pickle.dump(h_cats2,f)
 
    

with open('oneHotEncoder2.pkl', 'wb') as f:
    pickle.dump(oh2,f)

In [60]:
h_categories2

Index(['HighspentSmallvaluepayments', 'LowspentLargevaluepayments',
       'LowspentMediumvaluepayments', 'LowspentSmallvaluepayments',
       'HighspentMediumvaluepayments', 'NoPaymentBehaviour',
       'HighspentLargevaluepayments'],
      dtype='object')

In [61]:
h_cat_en.shape

(100000,)

In [62]:
oh.transform([[0]]).toarray()

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [63]:
h_cats1 = {}
for i in range(len(h_categories)):
    h_cats1[h_categories[i]] = i

In [64]:
h_cats1['MediaManager']

7

In [65]:
oh.transform([[7]]).toarray()

array([[0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [84]:
i=int('1')
type(i)

int

In [66]:
h_cats = {}
for i in range(len(h_categories)):
    h_cats[h_categories[i]] = i

In [67]:
[h_cats['Scientist']]

[0]

In [68]:
occ_encoded = oh.transform([[h_cats1['Scientist']]]).toarray()
occ_encoded

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [69]:
v = np.concatenate([v,occ_encoded[0]])

NameError: name 'v' is not defined

In [70]:
v = [1,2,3,4,5] 
v = np.array(v)

In [71]:
v

array([1, 2, 3, 4, 5])

In [72]:
df_.head()

,Month,Age,AnnualIncome,MonthlyInhandSalary,NumBankAccounts,NumCreditCard,InterestRate,NumofLoan,Delayfromduedate,NumofDelayedPayment,...,14,15,16,17,18,19,20,21,22,23
0,0.0,23.000000,19114.12,1824.843333,3,4,3,4.0,3,7.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,23.000000,19114.12,4194.170850,3,4,3,4.0,-1,13.220499,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2.0,33.307829,19114.12,4194.170850,3,4,3,4.0,3,7.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3.0,23.000000,19114.12,4194.170850,3,4,3,4.0,5,4.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4.0,23.000000,19114.12,1824.843333,3,4,3,4.0,6,13.220499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [73]:
X = df_
X.columns

Index(['Month', 'Age', 'AnnualIncome', 'MonthlyInhandSalary',
       'NumBankAccounts', 'NumCreditCard', 'InterestRate', 'NumofLoan',
       'Delayfromduedate', 'NumofDelayedPayment', 'NumCreditInquiries',
       'CreditMix', 'OutstandingDebt', 'CreditUtilizationRatio',
       'PaymentofMinAmount', 'TotalEMIpermonth', 'MonthlyBalance',
       'CreditHistoryYears', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23'],
      dtype='object')

In [74]:
from sklearn.preprocessing import StandardScaler
import pickle
mms = StandardScaler()
X = mms.fit_transform(X)


with open('scaler.pkl', 'wb') as f:
    pickle.dump(mms,f)

In [75]:
X.shape

(100000, 41)

# Создание проверочного набора (Create a validation set)

In [76]:
oh = OneHotEncoder()
h_cat_en, h_categories = Y.factorize()
coded = oh.fit_transform(h_cat_en.reshape(-1,1))
Y = pd.DataFrame(coded.toarray(), index = df_.index, columns = ['1','2','3'])


from sklearn.model_selection import train_test_split

X_train, X_test, Y_train,  Y_test = train_test_split(X, Y, test_size = 0.4, random_state = 0)

In [77]:
X_train.shape, Y_train.shape

((60000, 41), (60000, 3))

In [78]:
X_train

array([[-1.23959081e+00,  1.10105603e+00, -7.30134620e-02, ...,
         2.16823760e+00, -2.86794495e-01, -3.98786392e-01],
       [ 6.49309470e-01,  1.02375469e-13, -7.94054669e-02, ...,
        -4.61204068e-01, -2.86794495e-01, -3.98786392e-01],
       [-1.23959081e+00,  9.12715291e-01, -1.12580627e-01, ...,
        -4.61204068e-01, -2.86794495e-01, -3.98786392e-01],
       ...,
       [ 1.12153454e+00, -9.70692086e-01, -9.83032033e-02, ...,
        -4.61204068e-01, -2.86794495e-01, -3.98786392e-01],
       [-1.23959081e+00,  2.04275972e+00, -1.08221769e-01, ...,
        -4.61204068e-01, -2.86794495e-01, -3.98786392e-01],
       [ 6.49309470e-01, -5.88450240e-02, -1.16574605e-01, ...,
        -4.61204068e-01, -2.86794495e-01, -3.98786392e-01]])

In [24]:
X_train.shape[1]

41

In [79]:
import tensorflow as tf
from tensorflow.keras import models
from tensorflow.keras import layers

model = models.Sequential()

model.add(layers.Dense(256, activation="relu", input_shape = (X_train.shape[1],),)) 
#model.add(layers.Dropout(0.4))

model.add(layers.Dense(256, activation="relu"))

model.add(layers.Dense(256, activation="relu"))
model.add(layers.Dense(128, activation="relu"))


model.add(layers.Dense(64, activation="relu"))

model.add(layers.Dense(3, activation="softmax"))

# Компиляция модели
model.compile(optimizer=tf.keras.optimizers.Adam(1e-3),
              loss="categorical_crossentropy",
              metrics=["accuracy"])


#'categorical_crossentropy' works on one-hot encoded target, while 'sparse_categorical_crossentropy' works on integer target.

In [80]:
history = model.fit(X_train, Y_train, validation_data = (X_test, Y_test), 
                    epochs=50, batch_size=512)

Epoch 1/50
118/118 [==============================] - 1s 5ms/step - loss: 0.7877 - accuracy: 0.6287 - val_loss: 0.7564 - val_accuracy: 0.6428
Epoch 2/50
118/118 [==============================] - 1s 5ms/step - loss: 0.7275 - accuracy: 0.6600 - val_loss: 0.7349 - val_accuracy: 0.6532
Epoch 3/50
118/118 [==============================] - 1s 5ms/step - loss: 0.7060 - accuracy: 0.6719 - val_loss: 0.7140 - val_accuracy: 0.6673
Epoch 4/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6916 - accuracy: 0.6797 - val_loss: 0.7100 - val_accuracy: 0.6674
Epoch 5/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6821 - accuracy: 0.6859 - val_loss: 0.7103 - val_accuracy: 0.6692
Epoch 6/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6745 - accuracy: 0.6910 - val_loss: 0.7134 - val_accuracy: 0.6670
Epoch 7/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6656 - accuracy: 0.6950 - val_loss: 0.7160 - val_accuracy: 0.6700
Epoch 8/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6532 - accuracy: 0.7027 - val_loss: 0.7140 - val_accuracy: 0.6703
Epoch 9/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6443 - accuracy: 0.7059 - val_loss: 0.7240 - val_accuracy: 0.6690
Epoch 10/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6304 - accuracy: 0.7129 - val_loss: 0.7214 - val_accuracy: 0.6695
Epoch 11/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6189 - accuracy: 0.7194 - val_loss: 0.7332 - val_accuracy: 0.6662
Epoch 12/50
118/118 [==============================] - 1s 5ms/step - loss: 0.6045 - accuracy: 0.7250 - val_loss: 0.7472 - val_accuracy: 0.6669
Epoch 13/50
118/118 [==============================] - 1s 5ms/step - loss: 0.5885 - accuracy: 0.7341 - val_loss: 0.7489 - val_accuracy: 0.6659
Epoch 14/50
118/118 [==============================] - 1s 5ms/step - loss: 0.5696 - accuracy: 0.7459 - val_loss: 0.7564 - val_accuracy: 0.6604
Epoch 15/50
118/118 [==============================] - 1s 5ms/step - loss: 0.5527 - accuracy: 0.7520 - val_loss: 0.7796 - val_accuracy: 0.6571
Epoch 16/50
118/118 [==============================] - 1s 5ms/step - loss: 0.5299 - accuracy: 0.7616 - val_loss: 0.8068 - val_accuracy: 0.6533
Epoch 17/50
118/118 [==============================] - 1s 5ms/step - loss: 0.5102 - accuracy: 0.7701 - val_loss: 0.8238 - val_accuracy: 0.6507
Epoch 18/50
118/118 [==============================] - 1s 5ms/step - loss: 0.4866 - accuracy: 0.7820 - val_loss: 0.8718 - val_accuracy: 0.6538
Epoch 19/50
118/118 [==============================] - 1s 5ms/step - loss: 0.4598 - accuracy: 0.7961 - val_loss: 0.8926 - val_accuracy: 0.6467
Epoch 20/50
118/118 [==============================] - 1s 5ms/step - loss: 0.4344 - accuracy: 0.8055 - val_loss: 0.9214 - val_accuracy: 0.6467
Epoch 21/50
118/118 [==============================] - 1s 5ms/step - loss: 0.4095 - accuracy: 0.8205 - val_loss: 0.9723 - val_accuracy: 0.6489
Epoch 22/50
118/118 [==============================] - 1s 5ms/step - loss: 0.3851 - accuracy: 0.8292 - val_loss: 1.0277 - val_accuracy: 0.6383
Epoch 23/50
118/118 [==============================] - 1s 5ms/step - loss: 0.3640 - accuracy: 0.8391 - val_loss: 1.0919 - val_accuracy: 0.6400
Epoch 24/50
118/118 [==============================] - 1s 5ms/step - loss: 0.3398 - accuracy: 0.8521 - val_loss: 1.1088 - val_accuracy: 0.6337
Epoch 25/50
118/118 [==============================] - 1s 5ms/step - loss: 0.3139 - accuracy: 0.8651 - val_loss: 1.1800 - val_accuracy: 0.6394
Epoch 26/50
118/118 [==============================] - 1s 5ms/step - loss: 0.2909 - accuracy: 0.8762 - val_loss: 1.2825 - val_accuracy: 0.6427
Epoch 27/50
118/118 [==============================] - 1s 5ms/step - loss: 0.2771 - accuracy: 0.8830 - val_loss: 1.3023 - val_accuracy: 0.6288
Epoch 28/50
118/118 [==============================] - 1s 5ms/step - loss: 0.2544 - accuracy: 0.8920 - val_loss: 1.4126 - val_accuracy: 0.6356
Epoch 29/50
118/118 [==============================] - 1s 5ms/step - loss: 0.2383 - accuracy: 0.9017 - val_loss: 1.4713 - val_accuracy: 0.6259
Epoch 30/50
118/118 [==============================] - 1s 5ms/step - loss: 0.2148 - accuracy: 0.9092 - val_loss: 1.5722 - val_accuracy: 0.6353
Epoch 31/50
118/118 [==============================] - 1s 5ms/step - loss: 0.2019 - accuracy: 0.9169 - val_loss: 1.6213 - val_accuracy: 0.6349
Epoch 32/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1948 - accuracy: 0.9204 - val_loss: 1.7361 - val_accuracy: 0.6298
Epoch 33/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1739 - accuracy: 0.9286 - val_loss: 1.8012 - val_accuracy: 0.6382
Epoch 34/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1618 - accuracy: 0.9343 - val_loss: 1.8325 - val_accuracy: 0.6241
Epoch 35/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1632 - accuracy: 0.9354 - val_loss: 1.9651 - val_accuracy: 0.6288
Epoch 36/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1545 - accuracy: 0.9388 - val_loss: 1.9816 - val_accuracy: 0.6328
Epoch 37/50
118/118 [==============================] - 1s 4ms/step - loss: 0.1405 - accuracy: 0.9450 - val_loss: 2.0468 - val_accuracy: 0.6312
Epoch 38/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1231 - accuracy: 0.9525 - val_loss: 2.1996 - val_accuracy: 0.6400
Epoch 39/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1112 - accuracy: 0.9573 - val_loss: 2.2140 - val_accuracy: 0.6266
Epoch 40/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1124 - accuracy: 0.9569 - val_loss: 2.3045 - val_accuracy: 0.6349
Epoch 41/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1018 - accuracy: 0.9620 - val_loss: 2.3670 - val_accuracy: 0.6264
Epoch 42/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1158 - accuracy: 0.9562 - val_loss: 2.3735 - val_accuracy: 0.6260
Epoch 43/50
118/118 [==============================] - 1s 4ms/step - loss: 0.1231 - accuracy: 0.9541 - val_loss: 2.3670 - val_accuracy: 0.6237
Epoch 44/50
118/118 [==============================] - 1s 5ms/step - loss: 0.1190 - accuracy: 0.9569 - val_loss: 2.2974 - val_accuracy: 0.6271
Epoch 45/50
118/118 [==============================] - 1s 5ms/step - loss: 0.0892 - accuracy: 0.9669 - val_loss: 2.4670 - val_accuracy: 0.6331
Epoch 46/50
118/118 [==============================] - 1s 5ms/step - loss: 0.0823 - accuracy: 0.9692 - val_loss: 2.5494 - val_accuracy: 0.6378
Epoch 47/50
118/118 [==============================] - 1s 5ms/step - loss: 0.0723 - accuracy: 0.9747 - val_loss: 2.6974 - val_accuracy: 0.6345
Epoch 48/50
118/118 [==============================] - 1s 5ms/step - loss: 0.0902 - accuracy: 0.9664 - val_loss: 2.6529 - val_accuracy: 0.6378
Epoch 49/50
118/118 [==============================] - 1s 5ms/step - loss: 0.0820 - accuracy: 0.9700 - val_loss: 2.6402 - val_accuracy: 0.6286
Epoch 50/50
118/118 [==============================] - 1s 5ms/step - loss: 0.0785 - accuracy: 0.9720 - val_loss: 2.7102 - val_accuracy: 0.6289

In [82]:
model.save('creditscore.h5')

In [ ]:
#loaded_model = tf.keras.models.load_model('creditscore.h5')

In [46]:
from sklearn.metrics import confusion_matrix, f1_score

In [47]:
pr = model.predict(X_test)>0.5

1875/1875 [==============================] - 14s 4ms/step

In [52]:
f1_score (Y_test, pr,average='macro')

ValueError: Classification metrics can't handle a mix of multiclass and multilabel-indicator targets

In [11]:
confusion_matrix(Y_test, pr)

array([[29764,  5664],
       [ 6299,  8273]], dtype=int64)

In [31]:
with open('h_cats1.pkl' , 'rb') as f:
    some_cats = pickle.load(f)

In [32]:
some_cats

{'Scientist': 0,
 'NoOccupation': 1,
 'Teacher': 2,
 'Engineer': 3,
 'Entrepreneur': 4,
 'Developer': 5,
 'Lawyer': 6,
 'MediaManager': 7,
 'Doctor': 8,
 'Journalist': 9,
 'Manager': 10,
 'Accountant': 11,
 'Musician': 12,
 'Mechanic': 13,
 'Writer': 14,
 'Architect': 15}